<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533610036456-4hqkovb5ronksk5kfvseo6hdhetf3lr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533610036456-4hqkovb5ronksk5kfvseo6hdhetf3lr9</string>
	<key>API_KEY</key>
	<string>AIzaSyA8GyVt-CoaFj9m7aQ5bUXB66y_0wr2MFU</string>
	<key>GCM_SENDER_ID</key>
	<string>533610036456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heboning129301239123729635224.LIAOLIAO</string>
	<key>PROJECT_ID</key>
	<string>liaoliao-b6f72</string>
	<key>STORAGE_BUCKET</key>
	<string>liaoliao-b6f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533610036456:ios:5ce111e1df8688b4</string>
	<key>DATABASE_URL</key>
	<string>https://liaoliao-b6f72.firebaseio.com</string>
</dict>
</plist>